/.idea

/build/build.properties
/build/bin
/build/buildlang
/build/phingext
/build/templates/release.json
/build/tools

/release.json
/release/*.zip

/strapper/file_strapper*.xml
/strapper/strapper*/version.php
/strapper/version.txt
/strapper/strapper*/version.php
/strapper/strapper*/file_strapper*.xml
/strapper/link.php
/strapper/version.php